/* .Hbutton:hover{
    background-color: var(--hbutton-background-color)!important;
} */
.Hbutton{
    font-family: 'Open Sans', sans-serif!important;
    position: relative;
}
.Hbutton:hover:after{
    content: "";
    background-color: #00000033;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    box-shadow: rgb(97 97 97 / 55%) 0px 2px 8px 0px;
    
}
.position-relative{
    position: relative!important;
}
.zIndex-1{
    z-index: 1!important;
}